{% extends "./base.html" %}

{% block imports %}
<link rel="stylesheet" href="../static/css/from_login.css" />
{% endblock imports %}

{% block importsjs %}
<script src="../static/js/loader.js"></script>
{% endblock importsjs %}

{% block page %}
<div class="container pts">
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center pt-3">
      <div class="card px-1 py-4">
        <form method="post" id="post" action="/login">
          <div class="card-body">
            <h2 class="card-title d-flex justify-content-center">Login</h2>

            <div class="d-flex flex-row">
              <label class="radio mr-1">
                <input type="radio" name="user" value="admin" class="check_on" checked />
                <span> <i class="fa-solid fa-user-lock"></i> Admin </span>
              </label>
              <label class="radio">
                <input type="radio" name="user" value="guest" class="check_off"/>
                <span> <i class="fa-solid fa-user"></i> Guest </span>
              </label>
            </div>

            <div class="basiar">
              <h6 class="information mt-4">
                Please provide following information about User
              </h6>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="name"
                      name="Name"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="password"
                        placeholder="Password"
                        name="password"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column text-center px-5 mt-3 mb-3">
                <button class="btn btn-primary btn-block confirm-button">
                  Confirm
                </button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock page %}
